[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/colors/solarized"]
	path = .vim/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
